<div class="wrapper">
  <div class="about-section">
  <p class="abouttile"><%= t('about') %></p>

  <p class="intro"><%= t('intro_html') %></p>
  <p class="title"><%= t('title_html') %></p>
  <p class="steps"><%= t('steps_html') %></p>
  <p class="cloture"><%= t('cloture_html') %></p>
</div>






  <div class="faq">
    <span class="abouttile">FAQ</span>
    <span id="c-arrow"><%= inline_svg 'c-arrow'%></span>
    <span id="close-faq"><%= inline_svg 'close-faq'%></span>
    <div class="faq-c">
  <%= t('faq_html') %>
    </div>
  </div>

<div class="bottom">
  <div class="link-1"><%= link_to t('back') , root_path  %></div>
  <div class="illustration"> <%= inline_svg "Illu.svg" %></div>
  <div class="link-2"><%= link_to_unless_current "FR" , locale: :fr %> - <%= link_to_unless_current "EN" , locale: :en%></div>
</div>
</div>
