<!DOCTYPE html>
<html>
  <head>
    <title>&eacute;rographie</title>
    <meta name=”theme-color” content=”#000316">
    <meta name="msapplication-navbutton-color" content="##000316">
    <meta name="apple-mobile-web-app-status-bar-style" content="##000316">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favin.png') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preload" href="fonts/UntitledSansWeb.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="fonts/Renamed.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="fonts/UntitledSerifWeb.otf" as="font" type="font/otf" crossorigin="anonymous">



    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>

    <%= yield %>
  </body>
</html>
