<!DOCTYPE html>
<html lang="<%= t('lang')%>">
  <head>

    <meta name="theme-color" content="#E2DEDC" />
    <meta name="msapplication-navbutton-color" content="#E2DEDC" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#E2DEDC" />


    <meta name="description" content="Contribute designing &eacute;rographie, a crowd-sourced typeface made out of orgasms | Participez au design d'&eacute;rographie, une typographie faite d'orgasmes" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favin.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preload" href="fonts/UntitledSansWeb.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="fonts/Renamed.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="fonts/UntitledSerifWeb.otf" as="font" type="font/otf" crossorigin="anonymous">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&eacute;rographie</title>

  </head>

  <body>

    <%= yield %>


  </body>
</html>
